.env
python/Streamlit/LangChainData/docs/*
**/__pycache__/*
**/.ipynb_checkpoints/*
jupyter/LangChainData/docs/*
jupyter/OpenAIAssistantAPI/CT_Drivers_Manual.pdf:Zone.Identifier
jupyter/LlamaIndexRag/default.sqlite
jupyter/LlamaIndexRag/merging_index/*
jupyter/LlamaIndexRag/sentence_index/*
jupyter/OpenAIVision/deborahlynndesigns-decoratingdeninteriors.WordPress.2024-01-14.xml
jupyter/OpenAIVision/sentence_index/*
*.log
jupyter/CrewAI/marketing_report.md
jupyter/CrewAI/venue_details.json
jupyter/CrewAI/interview_materials.md
jupyter/CrewAI/tailored_resume.md
jupyter/CrewAI/db/chroma.sqlite3
jupyter/CrewAI/db/96b7e975-07f2-48b7-a888-5edebaf2c55b/data_level0.bin
jupyter/CrewAI/db/96b7e975-07f2-48b7-a888-5edebaf2c55b/header.bin
jupyter/CrewAI/db/96b7e975-07f2-48b7-a888-5edebaf2c55b/length.bin
jupyter/CrewAI/db/96b7e975-07f2-48b7-a888-5edebaf2c55b/link_lists.bin
jupyter/MultiModalRAG/pics/*
jupyter/MultiModalRAG/scratch/*con
jupyter/MultiModalRAG/scratch/imgs/*
python/Flask/flask/*
.aider*
jupyter/ImprovingAccuracyOfLlmApplications/lamini/*
lamini/*
venv/*
**/uv.lock
**/papers_info.json
