.env
python/Streamlit/LangChainData/docs/*
**/__pycache__/*
**/.ipynb_checkpoints/*
jupyter/LangChainData/docs/*
jupyter/OpenAIAssistantAPI/CT_Drivers_Manual.pdf:Zone.Identifier
jupyter/LlamaIndexRag/default.sqlite
jupyter/LlamaIndexRag/merging_index/*
jupyter/LlamaIndexRag/sentence_index/*
jupyter/OpenAIVision/deborahlynndesigns-decoratingdeninteriors.WordPress.2024-01-14.xml
jupyter/OpenAIVision/sentence_index/*
*.log
jupyter/CrewAI/marketing_report.md
jupyter/CrewAI/venue_details.json
