<!DOCTYPE html>
<html>
<head>
    <title>Hello Page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <h1>Hello, {{ name }}! Welcome to the world of Flask.</h1>
    <label for="items">Choose an LLM:</label>
    <select name="items" id="items">
        {% for item in items %}
            <option value="{{ item }}">{{ item }}</option>
        {% endfor %}
    </select>

    <h2>prompts</h2>
    <textarea name="message" id="message" rows="4" cols="50"></textarea>
    <button type="submit" id="submitButton">Submit</button>

    <script>
        $(document).ready(function(){
            $("#submitButton").click(function(){
                var message = $("#message").val();
                $.ajax({
                    url: "/submit-prompt",
                    type: "POST",
                    data: {message: message, llm: $("#items").val()},
                    success: function(response){
                        // Handle the response from the server
                        $("#dynamicDiv").text(response);
                    },
                    error: function(xhr, status, error){
                        // Handle the error
                        console.log(error);
                    }
                });
            });
        });
    </script>
    <div id="dynamicDiv"></div>


</body>
</html>